# Binaries
golang-mock-server
golang-mock-server-local
golang-linux-final
bin/

# IDE
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Temporary files
*.tmp
*.bak

# Build artifacts
golang-nexus-server
golang-nexus-server-local
